html,body{
    width:100%;
    height:100%;
    background:#ffebd5;
    position:relative;
}
.beijing{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;

}
.top{
    width:100%;
    height:4%;
    padding-top:1%;
    background: url("../images/1.png") no-repeat center 10px;
    background-size: 90%;
}
.content{
    width:100%;
    height:16%;
    position: relative;
}
.content .zoubian{
    width:30px;
    height:30px;
    -moz-border-radius:15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    background: #d2bba1 url('../images/18.png') no-repeat 50% 50%;
    background-size: 40%;
    position: absolute;
    left:3%;
    top:2%;
}
.content .guanbi{
    width:30px;
    height:30px;
    -moz-border-radius:15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 40%;
    position: absolute;
    right:3%;
    top:2%;
}
.content h3{
    width:100%;
    height:18%;
    padding-top: 13%;
    font-size: 24px;
    font-family: 微软雅黑;
    text-align: center;
    color: #996633;
}
.content p{
    width:100%;
    height:10%;
    margin-top: 4%;
    font-size: 14px;
    font-family: 微软雅黑;
    text-align: center;
    color: #996633;
}
.pic1{
    width:100%;
    height:79%;
    background: url("../images/8.png") no-repeat  center 0;
    background-size:cover;
    position: relative;
    font-family: 微软雅黑;
}
.pic1 .chuo{
    height:90px;
    width:90px;
    background:  url('../images/28.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:37%;
    top:36%;
    color: #fff;
    font-size:20px ;
    text-align: center;
}
.pic1 .chuo p{
    margin-top:20px;
}
.pic1 li{
    border-radius: 35px;
}
.pic1 li:nth-child(1){
    height:70px;
    width:70px;
    background:  url('../images/23.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:38%;;
    top:13%;
    color: #6c2c5c;
    font-size:14px ;
    text-align: center;
}
.pic1 li:nth-child(1) p{
    margin-top:20px;
}
.pic1 li:nth-child(2){
    height:70px;
    width:70px;
    background:  url('../images/25.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:63%;
    top:20%;
    color: #2f5c2b;
    font-size:16px ;
    text-align: center;
}
.pic1 li:nth-child(2) p{
    margin-top:20px;
}
.pic1 li:nth-child(3){
    height:70px;
    width:70px;
    background:  url('../images/27.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:71%;
    top:38%;
    color: #b81312;
    font-size:16px ;
    text-align: center;
}
.pic1 li:nth-child(3) p{
    margin-top:20px;
}
.pic1 li:nth-child(4){
    height:70px;
    width:70px;
    background:  url('../images/21.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:64%;
    top:55%;
    color: #962524;
    font-size:16px ;
    text-align: center;
}
.pic1 li:nth-child(4) p{
    margin-top:20px;
}
.pic1 li:nth-child(5){
    height:70px;
    width:70px;
    background:  url('../images/25.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:38%;
    top:63%;
    color: #9c2e03;
    font-size:16px ;
    text-align: center;
}
.pic1 li:nth-child(5) p{
    margin-top:20px;
}
.pic1 li:nth-child(6){
    height:70px;
    width:70px;
    background:  url('../images/23.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:13%;
    top:55%;
    color: #6c2c5c;
    font-size:16px ;
    text-align: center
}
.pic1 li:nth-child(6) p{
    margin-top:20px;
}
.pic1 li:nth-child(7){
    height:70px;
    width:70px;
    background:  url('../images/21.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:4%;
    top:38%;
    color: #962524;
    font-size:14px ;
    text-align: center
}
.pic1 li:nth-child(7) p{
    margin-top:20px;
}
.pic1 li:nth-child(8){
    height:70px;
    width:70px;
    background:  url('../images/27.png') no-repeat 50% 50%;
    background-size: 100%;
    position: absolute;
    left:13%;
    top:20%;
    color: #b81312;
    font-size:16px ;
    text-align: center
}
.pic1 li:nth-child(8) p{
    margin-top:20px;
}
.Popup1{
    width:82%;
    height:57%;
    position: absolute;
    background:#ffebd5 url("../images/13.png") no-repeat center 0;
    background-size: 60%;
    left:9%;
    top:22.5%;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    display: none;
    z-index: 101;
}
.Popup1 .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;
}
.Popup1 p{
    padding-top: 55%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;
}
.Popup1 span{
    font-size: 18px;
    text-align: center;
}
.Popup1 .botton{
    width:100%;
    height:20%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 20px;
    margin-top: 5%;
    padding-top: 5%;
    font-family: "微软雅黑";
}
.Popup2{
    width:82%;
    height:58%;
    position: absolute;
    background:#ffebd5 url("../images/12.png") no-repeat center 0;
    background-size: 60%;
    left:9%;
    top:22.5%;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    display: none;
    z-index: 101;
}
.Popup2 .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;
    display: block;
}
.Popup2 p{
    padding-top: 55%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;

}
.Popup2 .botton{
    width:100%;
    height:20%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 24px;
    margin-top: 5%;
    padding-top: 5%;
    font-family: "微软雅黑";
}
.Popup3{
    width:82%;
    height:60%;
    position: absolute;
    left:9%;
    top:18%;
    display: none;
    z-index: 101;
}
.Popup3 .top .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;

}
.Popup3 .top {
    width:100%;
    height:40%;
    background:#ffebd5;
    background:#ffebd5 url("../images/9.png") no-repeat center 0;
    background-size: 55%;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
    padding-top: 45%;
}
.Popup3 .top p{
    font-size: 24px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;
}
.Popup3 .top  span{
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
}
.Popup3 .top .lingqu{
    width:100%;
    height:30%;
    margin-top: 5%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 24px;
    padding-top: 5%;
    font-family: "微软雅黑";
}

.Popup3 .bottom {
    width:100%;
    height:30%;
    background:#f1d8bc;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    color: ;
}
.Popup3 .bottom p{
    padding-top: 5%;
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    color: #8e481e;
}
.Popup3 .bottom .botton{
    width:50%;
    height:30%;
    background: #ff9600  center center;
    text-align: center;
    margin: 5% auto 0;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    color: #8e481e;
    line-height: 30px;
}
.Popup4{
    width:82%;
    height:60%;
    position: absolute;
    left:9%;
    top:18%;
    display: none;
    z-index: 101;
}
.Popup4 .top .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;

}
.Popup4 .top {
    width:100%;
    height:40%;
    background:#ffebd5;
    background:#ffebd5 url("../images/9.png") no-repeat center 0;
    background-size: 55%;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
    padding-top: 45%;
}
.Popup4 .top p{
    font-size: 24px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;
}
.Popup4 .top  span{
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
}
.Popup4 .top .lingqu{
    width:100%;
    height:30%;
    margin-top: 5%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 24px;
    padding-top: 5%;
    font-family: "微软雅黑";
}

.Popup4 .bottom {
    width:100%;
    height:30%;
    background:#f1d8bc;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    color: ;
}
.Popup4 .bottom p{
    padding-top: 5%;
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    color: #8e481e;
}
.Popup4 .bottom .botton{
    width:50%;
    height:30%;
    background: #ff9600  center center;
    text-align: center;
    margin: 5% auto 0;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    color: #8e481e;
    line-height: 30px;
}
.Popup5{
    width:82%;
    height:60%;
    position: absolute;
    left:9%;
    top:18%;
    display: none;
    z-index: 101;
}
.Popup5 .top .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;

}
.Popup5 .top {
    width:100%;
    height:40%;
    background:#ffebd5;
    background:#ffebd5 url("../images/9.png") no-repeat center 0;
    background-size: 55%;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
    padding-top: 45%;
}
.Popup5 .top p{
    font-size: 24px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;
}
.Popup5 .top  span{
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
}
.Popup5 .top .lingqu{
    width:100%;
    height:30%;
    margin-top: 5%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 24px;
    padding-top: 5%;
    font-family: "微软雅黑";
}

.Popup5 .bottom {
    width:100%;
    height:30%;
    background:#f1d8bc;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    color: ;
}
.Popup5 .bottom p{
    padding-top: 5%;
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    color: #8e481e;
}
.Popup5 .bottom .botton{
    width:50%;
    height:30%;
    background: #ff9600  center center;
    text-align: center;
    margin: 5% auto 0;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    color: #8e481e;
    line-height: 30px;
}
.Popup6{
    width:82%;
    height:60%;
    position: absolute;
    left:9%;
    top:18%;
    display: none;
    z-index: 101;
}
.Popup6 .top .guanbi{
    width:20px;
    height:20px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    background: #d2bba1 url('../images/17.png') no-repeat 50% 50%;
    background-size: 30%;
    position: absolute;
    left:4%;
    top:4%;

}
.Popup6 .top {
    width:100%;
    height:40%;
    background:#ffebd5;
    background:#ffebd5 url("../images/9.png") no-repeat center 0;
    background-size: 55%;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
    padding-top: 45%;
}
.Popup6 .top p{
    font-size: 24px;
    text-align: center;
    font-family: "微软雅黑";
    color: #86563f;
}
.Popup6 .top  span{
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
}
.Popup6 .top .lingqu{
    width:100%;
    height:30%;
    margin-top: 5%;
    background: url("../images/10.png") no-repeat  center 0;
    background-size:80%;
    text-align: center;
    color: #8e481e;
    font-size: 24px;
    padding-top: 5%;
    font-family: "微软雅黑";
}

.Popup6 .bottom {
    width:100%;
    height:30%;
    background:#f1d8bc;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    color: ;
}
.Popup6 .bottom p{
    padding-top: 5%;
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    color: #8e481e;
}
.Popup6 .bottom .botton{
    width:50%;
    height:30%;
    background: #ff9600  center center;
    text-align: center;
    margin: 5% auto 0;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    color: #8e481e;
    line-height: 30px;
}

@media screen and (min-height:400px) and (max-height:500px) {

    .pic1 .chuo{
        left:35%;
        top:40%;
    }
    .pic1 li{
        height:70px;
        width:70px;
        border-radius: 35px;
    }
    .pic1 li:nth-child(1){
        left:38%;
        top:13%;

    }
    .pic1 li:nth-child(2){
        left:63%;
        top:20%;

    }
    .pic1 li:nth-child(3){
        left:71%;
        top:43%;
    }
    .pic1 li:nth-child(4){
        left:64%;
        top:63%;
    }
    .pic1 li:nth-child(5){
        left:38%;
        top:70%;
    }
    .pic1 li:nth-child(6){
        left:13%;
        top:63%;
    }
    .pic1 li:nth-child(7){
        left:4%;
        top:43%;
    }
    .pic1 li:nth-child(8){
        left:13%;
        top:20%;
    }

}

@media screen and (min-height:600px) and (max-height:700px){
    .pic1 .chuo{
        left:37%;
        top:36%;
    }
    .pic1 li{
        height:70px;
        width:70px;
        border-radius: 35px;

    }
    .pic1 li:nth-child(1){
        left:38%;
        top:13%;
    }
    .pic1 li:nth-child(2){
        left:64%;
        top:20%;

    }
    .pic1 li:nth-child(3){
        left:73%;
        top:38%;
    }
    .pic1 li:nth-child(4){
        left:64%;
        top:55%;
    }
    .pic1 li:nth-child(5){
        left:38%;
        top:62%;
    }
    .pic1 li:nth-child(6){
        left:13%;
        top:55%;
    }
    .pic1 li:nth-child(7){
        left:4%;
        top:38%;
    }
    .pic1 li:nth-child(8){
        left:13%;
        top:20%;
    }


}
@media screen and (min-height:700px) and (max-height:800px){
    .pic1 .chuo{
        left:37%;
        top:36%;
        height:100px;
        width:100px;
    }
    .pic1 li{
        height:70px;
        width:70px;
        border-radius: 35px;
    }
    .pic1 li:nth-child(1){
        left:40%;
        top:13%;
    }
    .pic1 li:nth-child(2){
        left:65%;
        top:20%;
    }
    .pic1 li:nth-child(3){
        left:75%;
        top:38%;
    }
    .pic1 li:nth-child(4){
        left:65%;
        top:55%;
    }
    .pic1 li:nth-child(5){
        left:40%;
        top:63%;
    }
    .pic1 li:nth-child(6){
        left:14%;
        top:55%;
    }
    .pic1 li:nth-child(7){
        left:5%;
        top:38%;
    }
    .pic1 li:nth-child(8){
        left:14%;
        top:20%;
    }

}